<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ROLLON AR | Login</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="/static/css/style.css?v=32d">
</head>
<body>
<div class="login-page">
  <div class="login-box">
    <h1>ROLLON AR</h1>
    <p>A&amp;R Operating System</p>
    {% for msg in get_flashed_messages() %}<div class="login-error">{{ msg }}</div>{% endfor %}
    <form method="POST">
      <input type="password" name="password" placeholder="Password" autofocus>
      <button type="submit">Enter</button>
    </form>
  </div>
</div>
</body></html>
